.title {
  margin: 32px;
}

.grid {
  margin: 32px;
  display: grid;
  grid-gap: 32px 0px;
  grid-template-columns: repeat(2, 1fr);
}

.text {
  min-height: 128px;
  background-color: #D93442;
  padding: 24px;
}

.image {
  background-color: #FFFFFF;
  background-size: 100%;
  background-repeat: no-repeat;
}
